.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBox {
  
  padding: 5px;
}

.box {
  border-style: solid;
  border-color: #dcdce4;
  border-radius: 5px;
  border-width: 2px;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

.d {
  background-color: #f1f1f9;
}

.MatchPanelExpanded {
  background-color: #dcdce4;
  border-radius: 5px;
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  font-size: 12px;
  text-align: left;
}
.MatchPanel {
  display: block; 
  margin-bottom: 1em; 
  margin-left: 0; 
  margin-right: 0; 
  margin-top: 1em; 
}

.MatchName {
  font-size: 14px;
}

.bname {
  border-style: solid;
  border-color: #e4e4ea;
  border-radius: 5px;
  border-width: 2px;
  background-color: #f1f1f9;
  padding: 1px;
}

.bloader {
  position: absolute;
  margin-top: -25px;
  color: #ababc8;
}

.by {
  /**background-color: #B7D5F9;*/
  font-size: 10px;
}


/**
 * SearchBox
 */
.ais-SearchBox-form {
  background-color: #fff;
  display: flex;
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  position: relative;
  width: 100%;
}

.ais-SearchBox-form::before {
  background: rgba(0, 0, 0, 0) url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235a5e9a%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E") repeat scroll 0% 0%;
  content: "";
  height: 1rem;
  left: 1rem;
  margin-top: -0.5rem;
  position: absolute;
  top: 50%;
  width: 1rem;
}

.ais-SearchBox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 2px solid #dcdce4;
  border-radius: 3px;
  box-shadow: rgba(206, 206, 209, 0.3) 0 1px 4px 0 inset;
  caret-color: #b6b9e0;
  color: #34363e;
  flex: 1 1 0%;
  font: inherit;
  max-width: 100%;
  padding-left: 2.5rem;
}

.ais-SearchBox-input::-moz-placeholder {
  color: #0b0b0c;
}

.ais-SearchBox-input::placeholder {
  color: #8c8d93;
}

.ais-SearchBox-input:focus {
  border-color: #414144;
  box-shadow: rgba(227, 229, 245, 0.05) 0 1px 0 0;
  outline: currentcolor none medium;
}

.ais-SearchBox-input:disabled {
  background: rgba(0, 0, 0, 0) linear-gradient(-180deg, #fff, #f5f5fa) repeat scroll 0% 0%;
  border-color: #efeff5;
  box-shadow: none;
  cursor: not-allowed;
}

.ais-SearchBox-input:disabled::-moz-placeholder {
  color: #b6b7d5;
  pointer-events: none;
}

.ais-SearchBox-input:disabled::placeholder {
  color: #cccccc;
  pointer-events: none;
}

.ais-SearchBox-input::-webkit-search-cancel-button,
.ais-SearchBox-input::-webkit-search-decoration,
.ais-SearchBox-input::-webkit-search-results-button,
.ais-SearchBox-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset {
  display: none;
}

.ais-RefinementList-searchBox .ais-SearchBox-loadingIndicator,
.ais-RefinementList-searchBox .ais-SearchBox-reset {
  right: 0.5rem;
}

.ais-SearchBox-loadingIndicator[hidden],
.ais-SearchBox-reset[hidden] {
  display: none;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-Menu-searchBox,
.ais-RefinementList-searchBox {
  margin-bottom: 0.5rem;
}

.ais-Menu-searchBox .ais-SearchBox-form,
.ais-RefinementList-searchBox .ais-SearchBox-form {
  height: 2rem;
}

.ais-Menu-searchBox .ais-SearchBox-form::before,
.ais-RefinementList-searchBox .ais-SearchBox-form::before {
  left: 0.5rem;
}

.ais-Menu-searchBox .ais-SearchBox-input,
.ais-RefinementList-searchBox .ais-SearchBox-input {
  padding-left: 2rem;
}
